
@{
    ViewData["Title"] = "Enter your name";
}

<form method="get" action="/name/show">
    <div class="form-group">
        <label for="name">Enter your name: </label>
        <input id="name" name="name" required />
        <input type="submit" value="Submit" />
    </div>
</form>
